.footerContainer{
	background-color: black;
}

footer{
	width: 77%;
	padding: 20px;
	margin: auto;
}

.footerContent{
	display: flex;
	justify-content:space-evenly;
	align-items: center;

}

.footerContent img{
	width: 200px;
    height: 30px;
    padding: 10px;
}

.footerNavLinks ul li{
	padding: 10px;
	margin: 0 10px 
}