nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.list {
  text-decoration: none;
}

.list ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13px;
  padding: 0;
}

ul li {
  padding: 5px 20px;
  transition: 0.4s;
}

li:hover{
	background:rgb(35, 33, 33);
	border-radius: 20px;
}

.brand img {
  width: 200px;
  height: 30px;
  padding: 10px;
}
